html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: optimizeLegibility;
  font-size: 16px;
  background: white;
  font-family: Plus Jakarta Sans, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  @media (min-width: 1500px) {
    font-size: 16px;
  }
}

body {
  overflow-x: hidden;
  margin: 0;
}

a {
  text-decoration: none !important;
}

.devicecontent {
  width: 84%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
